.App {
  text-align: center;
}

body {
  background-color: #80A28C; 
  color: #002070; 
}

.silly {
  background-color: yellow;
  height: 40px, 20px; 
  padding: 20px; 
  margin: 20px; 
  display: column; 
  text-align: center;
  margin: 20px; 
  font-size: 25px; 
}

.answerz {
  background-color: goldenrod;
  align-items: center; 
  width: 1800px; 
  margin: 50px; 
  padding: 20px; 
}

.bop {
  background-color: darkblue; 
  color: white; 
  width: 180px; 
  height: 90px; 
  border: 2px solid red; 
  border-radius: 50%; 
  display: inline-block; 
}

.title {
  text-align: center; 
  font-size: 90px; 
}

h1 {
  font-size: 40px; 
}
.question {
  color: #723528; 
  text-decoration: underline 2px;
  padding: 20px; 
  margin: 20px; 
}