.App {
  text-align: center;
}

body {
  background-color: #80A28C; 
  color: #002070; 
}

.Cats-the-musical {
  text-align: center;
  margin: 50px; 
  font-size: 25px; 
}

h1 {
  text-align: center; 
  font-size: 40px; 
}

.boop {
  background-color: yellow; 
  color: black; 
  height: 40px, 20px; 
  padding: 20px; 
  margin: 20px; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
